# Basics

## Defining Variables

In [1]:
a  = 'ansh'
a

'ansh'

In [2]:
b = 2
b

2

In [3]:
c = 12.230
c

12.23

## Taking Input

In [4]:
a = input("Enter your name here:")
a

Enter your name here:Ansh

'Ansh'

In [5]:
b = int(input("Enter any integer here: "))
b

## All inputs are type of 'str' by default therefore we need to convert the data type by specifing it.

Enter any integer here: 123

123

In [6]:
c = float(input("Enter any number here:"))
c

Enter any number here:1.2

1.2

## Data types

In [7]:
name = "ansh"
type(name)

str

In [8]:
num = 123
type(num)

int

In [9]:
print(type(name)==str)

True

In [10]:
## Using 'isintance'
print(isinstance(num , int))  ##isinstance(<variable name> , <dataType to be checked>)
print(isinstance(num , str))
print(isinstance(num , float))

True
False
False

In [11]:
## Other data types :

"""
    complex for complex numbers
    bool for boolean 
    list for lists
    tuple for tuple
    range for ranges
    dict for dictionaries
    set for sets
"""

'\n    complex for complex numbers\n    bool for boolean \n    list for lists\n    tuple for tuple\n    range for ranges\n    dict for dictionaries\n    set for sets\n'

## Arithmetic Operators

In [12]:
num1 = 3
num2 = 4
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)  # Normal Division
print(num1//num2) #Floor division
print(num1%num2) # Gives remainder
print(num1**num2) #Exponential operator

7
-1
12
0.75
0
3
81

In [13]:
num = 4
num += 8 # ~ num = num+8
print(num)
#similarily it can written for other operators as well.

12

## Comparison Operators

In [14]:
num1 = 10
num2 = 12
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1>=num2)
print(num1!=num2) #~ num1 not equal to num2 ?
print(num1==num2) #~ num1 is equal to num2 ?

False
True
False
False
True
False

## Boolean Operators

In [15]:
b1 = True
b2 = False
print(not b1)
print(b1 and b2)
print(b1 or b2)
print(b1 or b2 or False or 123 or 'dsjnsf')  # This is called concept of short circuiting.
#When using or operator , it checks each value , if it gets a True , it will not go ahead to check others.

False
False
True
True

In [16]:
print(0 or  1)
print([] or False)
print(False or [])
print(False or 'abc')
print('abc' or [])
#If two arguments are given in or gate and first is false, then by default it will return second argument.
# 0 acts as False and all other numbers (including -ve numbers) are True
# Empty datatypes like Lists , Tuples , Strings are false but if they contain any value , they are true.

1
False
[]
abc
abc

## Identity and membership operator

In [17]:
l1= [1,12,3,32]
print(1 in l1)
print(100 in l1)

a = 3
b = 3
print(a is b)

True
False
True

## Ternary Operator

In [18]:
# It is a single line if else statement
assumption = True
print("yes") if assumption else print("no") #Change value of 'assumption' and then see the output

# syntax: <code to be executed if statement 1 is True> if <statement 1> else <code to be executed is statement 1 is false>

yes

### Practice Set 1

In [ ]:
# Write the following programs : 


# 1.Write a program to ask user a floating number and print its square.


# 2. Write a program to calculate volume and surface area of a sphere. The prgram must ask user for the
#    radius.


# 3. Write a program that asks user for its height centimetres and convert it to feet and inches.


# 4. Write a program to compute simple interest and compound interest. Input all the necessary parameters
#    from the user.

# 5. Write a python program to convert a temprature in celcius given by user to Fahrenheit.

## Conditional Statements (if-else)

In [19]:
# Condtional statements in python are used to run a based on if a condition is true or not.
marks=98
if(marks>90 and marks<=100):
    print("A grade")

elif(marks>80 and marks<=90):
    print("B grade")

elif(marks>70 and marks<=80):
    print("C grade")

elif(marks>60 and marks<=70):
    print("D grade")
    
elif(marks>50 and marks<=60):
    print("E grade")

else:
    print("F grade")
    
## Change the marks and check the output.This is abasic case of if else condtions
# We can also use nested if-else whenever required

A grade

### Practice Sheet 2

In [ ]:
# Write the following programs : 

# 1. Input an age paramter of a person from user and check if the person can vote or not.


# 2. Check if the number entered by the user is odd or even.


# 3. Write a program to input three numbers and print the largest/smallest among the three.


# 4. Write a program to input a 6 digit number and divide its digits into groups of 2.
#    Eg : Input : 678923  ;  Output : 23 89 67

# Loops in python

## While loop

In [20]:
# Loops are used to repeat a block of code many times. The repetetion can be number based or conditional.
# Pythons offers different types of loops which are mainly : for and while, rest loops are derived from them.

# 1. While loop : while loop repeats a code based on a given condition, if it true, the control enters the loop else not.

count = 0
while(count<=5):
    print("Hello World")
    count+=1
# Note : whenever we are using while loop, we ust be careful to check the conditions because if they are
# not false even once, the loop will run till infinity.

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

## For loop

In [21]:
# for loops are generally used when we need to repeat a block of code 'n' number of times
# or we wante to iterate over a list,tuple,set or dictionary.

for i in range(0,5):
    print(i) #upper limit is excluded in this.

# end paramter: Suppose we want to print counting 1 to 10 and we use for loop to implement it. We will
# get our output one after another, but if we want to that all printing must take in a single line,
# we can use 'end' parameter, we can print numbers in a single line using it and we can also specify
# what character we need between the numbers.
# See next cell for example

0
1
2
3
4

### End parameter

In [22]:
for i in range(1,11):
    print(i,end=" ") # since we have given space, space will be printed between the numbers you may write any character you want.

1 2 3 4 5 6 7 8 9 10

### For in loop

In [23]:
l1 = ["ansh",123,"malik", True , 901 , False]
for i in l1:
    print(i) #prints all the list's elements

ansh
123
malik
True
901
False

### Practice Sheet 3

In [ ]:
# Write the following programs:

# 1. Write a program to print counting upto 'n' where n is number entered by the user.


# 2. Write a program to print reverse counting upto 'n' where n is number entered by the user.


# 3. Write a program using loops to calculate factorial of a number.


# 4. Write a program to extract digits of a number entered by the user and hence check if it is 
#    pallindrome or not.
    
    
# 5. Numbers in the form 2^n-1, eg: 2^1-1 = 1 ; 2^2-1 = 3 etc are called 'Mersenne numbers'. Write a 
#    program to print first 10 Mersenne numbers.


# 6. Write a program to check if a number is prime or not.


# 7. Write a program to find HCF and LCM of two numbers given as input by the user.

### Nested loops and patterns

In [25]:
# In python we have nested loops too, i.e loops inside another loop. There are various use cases for this.
# but for now, we will be using them for printing different patterns. This develops our ability to think
# about a solution and approach in correct way.
# Eg :1 
'''
 1
 12
 123
 1234
'''
for i in range(1,5):
    for j in range(1,i+1):
        print(j, end="")
    print()

1
12
123
1234

In [26]:
# Eg 2 : 
'''
1
22
333
4444
'''
for i in range(1,5):
    for j in range(1,i+1):
        print(i, end="")
    print()

1
22
333
4444

In [27]:
# Eg 3. 
'''
1111
222
33
4
'''
for i in range(1,5):
    for j in range(5,i,-1):
        print(i,end="")
    print()

1111
222
33
4

In [28]:
# Eg 4: 
'''
    1
   12
  123
 1234
12345

'''
rows=5
for i in range(1,6):
    for space in range(rows-i,0,-1):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

    1
   12
  123
 1234
12345

### Approach to solve pattern questions

In [29]:
# First we need to recogonise the pattern correctly.
# The second will be to analyse the relationship between rows and columns.
# Third step would be to analyse how rows and columns are changing output of pattern i.e relationship between number of rows,number of columns and the content of it.
# Fourth step would be to write code in the following way:
#  1. Initialse an outer loop this will control rows.
#  2. Initialise an inner loop , this will control columns
#  3. Print according to the relationship found in the above steps( you need to figure out if the question
#     will be solved by printing i(rows) or j(columns) in particular manner or both.)
#  4. If there are spaces present ( as in previous example) then create two different loops for columns.
#     One will handle space and other will handle characters.

### Practice Sheet 4

In [ ]:
# Print the following patterns : 

# 1. A
#    BB
#    CCC 
#    DDDD

    
# 2. *       *
#    **     **
#    ***   ***
#    **** ****
#    ********* 

# 3. Pascal's Triangle

# Strings in python

## Concatenation

In [30]:
first_name = "Ansh"
second_name = "Malik"
print(first_name +" " + second_name) #  '+' operator concats strings

Ansh Malik

## Printing string the same way it is written

In [31]:
print("""THis
    is an example
     of a 
         string
""")
# By using triple single/double inverted commas , we can print the string the exact same way it is written.

THis
    is an example
     of a
         string

## Pre Defined string functions

In [32]:
str1 = "Hello World"
print(str1.lower())
print(str1.upper())
print(str1.islower())
print(str1.isupper())
print(str1.isalpha())
print(len(str1))


print("Wo" in str1)
print("xyz" in str1)

hello world
HELLO WORLD
False
False
False
11
True
False

## Character escaping

In [33]:
# if we write print("Hello " World") the system will throw error.
#Therefore we need a way to include the double inverted comma between hello and world.This is called character escaping.Ex:

print("Hello\"World") #By using a backslash just before the character we need to print, we can avoid the error.

Hello"World

## String Slicing

In [34]:
# In python we can get sub-parts of the string. This is called string slicing.
str1 = "Python is a programming language"
print(str1[2:5])
print(str1[6:10])
print(str1[3:14])
# We can use above method for slicing a string
#Syntax : <string name>[<starting index> : <ending index>]
# Note : The string is sliced from starting index to ending index-1 ie. ending index is not included.

#In python, we can also name index in negatives where the lst character of the string is of index '-1'
# Negative Slicing :
print(str1[-4:-1])
print(str1[-18:-3])

#----------------------------------- Special cases of string slicings-----------------------------------------#

print(str1[0:20:2]) # We can also give a third paramter which is no. of steps
# In above example, from index 0 printing will occur but at every step of 2 ie indexes will be : 0,2,4,8 and so on...

print(str1[0:20:4])

print(str1[:20]) # If first parameter is left empty, it will by default be 0 ie. prinitng will start from first element

print(str1[3:]) #If last parameter is empty, it is by default length of the string ie. printing will occur till the last

#combining above two examples we get : 
print(str1[:]) # Whole string will be printed

print(str1[5:-3])
# we can also combine negative and positive indexes but we should ensure the starting index has a position to the left of ending index.

tho
 is
hon is a pr
uag
ogramming langu
Pto saporm
Pospr
Python is a programm
hon is a programming language
Python is a programming language
n is a programming langu

## String updation ?

In [35]:
str1 = "This is a dummy string"
str1[3] = 'a'
print(str1)

# The above written code will throw an error, this is because in python we can not update value of string at an index.
# This is the reason why strings are called 'immutable data types'

TypeError: 'str' object does not support item assignment

## F-Strings

In [2]:
# In python we have 'f-strings' this helps us to print variables concatenated with a string in an easy way.
# We can convert normal strings to f-strings by adding 'f' before inverted commas.
# EG :
first_name = "Ansh"
second_name = "Malik"
age = 19

print(f"Hello {first_name} {second_name}.Your age is {age}") # All the variables' values will be displayed

Hello Ansh Malik.Your age is 19

# Booleans

In [ ]:
bool1 = True
bool2 = False

bool_result = any([bool1 , bool2]) # Any works the same way as or if there is any one true value it will return true
print(bool_result)

bool_result2 = all([bool1 , bool2]) # All works the same way as and, if any one value is false it will return false
print(bool_result2)

# Note: all and any can all only take one argument at max.Notice how a list is passed as argument for the same reason.
# We will be learning more about lists further in this.

# Complex Data types

In [ ]:
# Complex data types in python are used to represent complex numbers from mathematics

# Declaration : Complex numbers are decalared in two ways:

# Way 1
num1 = 2+3j  # Instead of i(iota) we use j in python

# Way 2 
num2 = complex(4,5) #~ 4+5j

print(num1.real , num1.imag)
print(num2.real , num2.imag)

# Built in functions for numbers

In [36]:
print(abs(4.5) , abs(-4.5)) # Return +ve value(similar to mod function in mathematics)

print(round(4.5) , round(-3.2)  ,round(5.6) , round(3.2) , round(-3.7) , round(-3.5)) # Rounds the number

#NOTE : 'round' can take an additional paramter as well. This is called precision.
print(round(4.56,1)) # I indicates to round off upto 1 decimal place.

# There are many other functions available, in python we have a library of mathematical functions like 'maths'
# You can explore this library and check the functions available inside it.

4.5 4.5
4 -3 6 3 -4 -4
4.6

# ENUMS

In [37]:
# Enums are the readable names which are bound to certain value.

from enum import Enum

class State(Enum):
    INACTIVE = 0
    ACTIVE = 1

print(State.ACTIVE.value) # Accessing by name
print(State(1)) # Accessing by value
print(State['ACTIVE'].value)

print(list(State))
print(len(State))

1
State.ACTIVE
1
[<State.INACTIVE: 0>, <State.ACTIVE: 1>]
2

### Practice Sheet 5

In [ ]:
# 1. Write a program that inputs a string from a user and if it is lowercase , it will print the string
#    in upper case and vice versa (Assume user enters the string only in upper and lower case).
    
    
# 2. Write a program that inputs a string and capitalises first letter of each word.


# 3. Write a program that inputs a string a capitalises alternate lettes. 
#    EG : Input : "ansh malik" ; Output : "AnSh mAlIk"
                

# 4. Write a program that inputs a string and checks if it is pallindrome or not.


# 5. Write a program that inputs a string and counts number of lower case, upper case and numeric values. 


# 6. Write a program to input an address containing pincode and extract the pincode out of it.
#    Eg : Input : "New Delhi 110011" ; Output : 110011
                
                
# 7. Twisted Pig Latin : Prompt the user to enter a single word. Then form a new word by taking the first
#    letter of the original word, moving it to last and adding 'ay' to it.
#    Eg : Input : "school" ; Output : "choolsay" 
                
                
# 8. Password Validation : Write a program that prompts user for their password and deteremines if the 
#    password entered is valid or not. A password is said to be valid if it starts with a digit, has both
#    lower and upper case letters and has length equal to or more than 6. Make sure to print an appropriate
#    message in both the cases( when password is valid and when password is invalid)

# LISTS

In [38]:
# In python, list is a data structure which stores multiple values.These can be of same or different data types
# Lists are initialised with a square bracket '[]'.
# Main difference between List and String is that list is mutable(updatable) while string are not

list1 = ['ansh' , 123 , True , 'malik' , 'abc' , 1423 , 'xyz']
print(list1)

['ansh', 123, True, 'malik', 'abc', 1423, 'xyz']

## Different operations of lists

In [2]:
list1 = ['ansh' , 123 , True , 'malik' , 'abc' , 1423 , 'xyz']
# 1. Accessing
print(list1[0] , list1[3])

# 2. Updation
list1[2] = False
print(list1)
# Notice how esily we can update the values unlike in string. Therefore we can conclude that lists are 'mutable data types'.

# 3. List slicing (similar to strings)
print(list1[1:4])
print(list1[:4])

# 4. Comparing two lists.
compare_list1 = [1,2,3,5,6]
compare_list2 = [1,[2,4,5],9]
print(compare_list1==compare_list2)
#Note : For comparison operators like '<','>,'==' etc, the corresponding elements of the two lists must be of comparable types, else error will occur.

ansh malik
['ansh', 123, False, 'malik', 'abc', 1423, 'xyz']
[123, False, 'malik']
['ansh', 123, False, 'malik']
False

## Adding elements to list

In [40]:
list1 = ['ansh' , 123 , True , 'malik' , 'abc' , 1423 , 'xyz']
# 4. Adding elements to list
  # Method 1 : Append
list1.append(456)    # Single value passed using append
print(list1)

list1.append(['q',True,3421]) # Multiple values passed in form of another list but nested list will be formed(list inside a list)
print(list1)

# Method 2: extend
list1.extend('lmn') # 'lmn' will be appneded as three different entries
print(list1)

list1.extend(['a', True , 9012]) #Multiple value passed but this time no nested list will be formed.
print(list1)

# Append and extend has different use cases therefore we must know how and when to use them effeciently.

# Method 3: Addition
list1+=['new' , 'entry'] # No nested list if formed
list1+='rst' # rst will be added as three different entries 'r' , 's' , 't' bcoz it is passed as a string not a list.
print(list1)

['ansh', 123, True, 'malik', 'abc', 1423, 'xyz', 456]
['ansh', 123, True, 'malik', 'abc', 1423, 'xyz', 456, ['q', True, 3421]]
['ansh', 123, True, 'malik', 'abc', 1423, 'xyz', 456, ['q', True, 3421], 'l', 'm', 'n']
['ansh', 123, True, 'malik', 'abc', 1423, 'xyz', 456, ['q', True, 3421], 'l', 'm', 'n', 'a', True, 9012]
['ansh', 123, True, 'malik', 'abc', 1423, 'xyz', 456, ['q', True, 3421], 'l', 'm', 'n', 'a', True, 9012, 'new', 'entry', 'r', 's', 't']

In [41]:
list1 = ['ansh' , 123 , True , 'malik' , 'abc' , 1423 , 'xyz']
# 5. Removing elements
list1.remove('xyz') #removes element based on value given as parameter. This paramter is required
print(list1)

list1.pop() # removes last element

list1.pop(2) # Removes element from second position, default value of pop is -1.

print(list1)

['ansh', 123, True, 'malik', 'abc', 1423]
['ansh', 123, 'malik', 'abc']

In [42]:
# 6 Insertion
list1 = ['ansh' , 123 , True , 'malik' , 'abc' , 1423 , 'xyz']

list1.insert(3,'test')  # adds 'test' at 3 index. Syntax : <list name>.insert(<position>,<value>)
print(list1)

# Inserting multiple values using slices
list1[1:3] =['a','b','c']  # 'a' , 'b' , 'c' will be inserted starting from 1 index.
print(list1) # Note : if index is range is more than the elements to be insterted, the original elements present at that index will be deleted

# EX:
list1[1:4] = ['x'] # x will be insterted at 1 index and rest of the elements(upto 3, bcoz 4 is excluded) will be deleted.
print(list1)

['ansh', 123, True, 'test', 'malik', 'abc', 1423, 'xyz']
['ansh', 'a', 'b', 'c', 'test', 'malik', 'abc', 1423, 'xyz']
['ansh', 'x', 'test', 'malik', 'abc', 1423, 'xyz']

## Max and Min element in lists

In [43]:
# We can find maximum and minimum elements in a list without for loops by using 'max' and 'min' functions
list1 =[12,134,90,76,987,34,1,34,765,32]
print(f"Maximum number in the list is {max(list1)}")
print(f"Minimum number in the list is {min(list1)}")

Maximum number in the list is 987
Minimum number in the list is 1

## Soritng Lists

In [44]:
# Sorting lists in python only works in homogeneous list ie. the list must contain only numbers or only strings.
# in case of numbers, sorting is done normally while in case of strings, sorting is done on the basis of ASCII code.

str_list = ["python" , "cpp" , "ruby", "R" , "java" , "JavaScript"]
str_list.sort()
print(str_list) # Due to sorting based on ASCII codes, words starting with capital letters comes first. We can fix this by:-

str_list.sort(key=str.lower) # problem solved
print(str_list)

# Sorting in reverse order: There is a paramter in sort function called 'reverse' we can use this to sort in descending order
num_list=[1,43,10,87,98,2,43]
num_list.sort()
print(num_list)

num_list.sort(reverse=True)
print(num_list)

# Note : The sort function uses 'TIM SORT' which is a combination of merge sort and insertion sort
# sorting changes the original list, therefore we must keep it in mind while using the function and create a copy of original list is required.

['JavaScript', 'R', 'cpp', 'java', 'python', 'ruby']
['cpp', 'java', 'JavaScript', 'python', 'R', 'ruby']
[1, 2, 10, 43, 43, 87, 98]
[98, 87, 43, 43, 10, 2, 1]

## Practice Sheet 6

# TUPLES

In [45]:
# Tuples are like lists of objects but the difference is that Tuples are immutable while lists are mutable
# Tuples are initialised using a rounded bracket

tup1 = ("ansh", 123,"malik", True)
print(tup1)

print(tup1[2])
print(tup1.index(123))

print(f"Length of tuples is {len(tup1)}")

('ansh', 123, 'malik', True)
malik
1
Length of tuples is 4

In [46]:
tup2 = ("Python" , "is" , "a" , "programming" , "language")
print(sorted(tup2,key=str.lower)) # A new tuple is created after sorting unlike lists

# Tuples Concatention
new_tuple = tup1+tup2
print(new_tuple)

['a', 'is', 'language', 'programming', 'Python']
('ansh', 123, 'malik', True, 'Python', 'is', 'a', 'programming', 'language')

# Dictionaries

In [47]:
# Dictionaries in pyhton is a data type which stores key value pairs. It is initialised using a curly braces '{}'
# Syntax of dictionaries : <variable name> = {<key1> : <value1> , <key2> : <value2>,......<keyN> : <valueN>}
# Dictionaries are mutable data types

dict1 = {"name" : "Ansh" , "lastName" : "Malik" , "pet" : "Tabby" , "age" : 20 , "branch" : "AIML"}
print(dict1["name"])

print(dict1.get("age"))
# The above method is preferred to access values of dictionaries because it will not throw an error if key is not present.
# Instead it will return 'NONE' or we can set a default value in case key is absent.

print(dict1.get("college"))
print(dict1.get("course","BTECH")) # If 'course' is not mentioned, it will print 'BTECH'

Ansh
20
None
BTECH

In [48]:
dict2 = {"fruit" : "apple" , "vegetable" : "spinach" , "dish" : "kimchi" , "ice_cream" : "chocolate"}
print(dict2.pop("dish")) # pops the item based on the argument given
print(dict2.popitem()) #pops the last item entered to the dictionary

kimchi
('ice_cream', 'chocolate')

In [49]:
dict2 = {"fruit" : "apple" , "vegetable" : "spinach" , "dish" : "kimchi" , "ice_cream" : "chocolate"}
print("fruit" in dict2)
print("color" in dict2)

print("------------------------------")

print(dict2.keys())
print(dict2.values())

print("------------------------------")

print(list(dict2.keys()))
print(list(dict2.values()))

print("------------------------------")

print(list(dict2.items()))

True
False
------------------------------
dict_keys(['fruit', 'vegetable', 'dish', 'ice_cream'])
dict_values(['apple', 'spinach', 'kimchi', 'chocolate'])
------------------------------
['fruit', 'vegetable', 'dish', 'ice_cream']
['apple', 'spinach', 'kimchi', 'chocolate']
------------------------------
[('fruit', 'apple'), ('vegetable', 'spinach'), ('dish', 'kimchi'), ('ice_cream', 'chocolate')]

In [50]:
dict1 = {"name" : "Ansh" , "lastName" : "Malik" , "pet" : "Tabby" , "age" : 20 , "branch" : "AIML" , "fav_color" : "Blue"}

# Adding new key value pair : 
dict1["sport"] = "chess" # syntax : <variable name>[<key name>] = <value>
print(dict1)

# Deleting items
del dict1["fav_color"]
print(dict1)

# Creating copy of dictionary 
copy_dict = dict1.copy()
print(copy_dict)

{'name': 'Ansh', 'lastName': 'Malik', 'pet': 'Tabby', 'age': 20, 'branch': 'AIML', 'fav_color': 'Blue', 'sport': 'chess'}
{'name': 'Ansh', 'lastName': 'Malik', 'pet': 'Tabby', 'age': 20, 'branch': 'AIML', 'sport': 'chess'}
{'name': 'Ansh', 'lastName': 'Malik', 'pet': 'Tabby', 'age': 20, 'branch': 'AIML', 'sport': 'chess'}

# Sets

In [51]:
# Sets are used to store multiple items in a single variable.
# Sets are like dictionary but they don't have key value pairs.
# Set is a mutable data type.
# If set has duplicate values, it will treat it as a single entity only.

names={"ansh" , "ram" , "shyam" , "shankar" , "bajrangi" ,"ansh"}
print(names)

{'ansh', 'shankar', 'ram', 'bajrangi', 'shyam'}

## Mathematical operations on sets

In [52]:
# We can perform operations on sets just like in maths i.e intersection , union etc.
set1={1,2,4,8,5}
set2={2,3,5,4,6}

intersect = set1 & set2
print(intersect)

union = set1 | set2
print(union)

diff = set1 - set2  # Elements which are in set1 but not set2
print(diff)

diff2 = set2 - set1
print(diff2) # Elements which are in set2 but not in set1

{2, 4, 5}
{1, 2, 3, 4, 5, 6, 8}
{8, 1}
{3, 6}

In [53]:
new_set1 = {1,2,3,4,5,6,7,8}
new_set2 = {2,4,6,8}
superset = new_set1>new_set2  # checks if new_set1 is superset of new_set2 or not
print(superset)

subset = new_set2<new_set1 # checks if new_set2 is subset pf new_set1 or not
print(subset)

subset = new_set1<new_set2 
print(subset)

True
True
False

# Functions is python

In [54]:
# Functions are the reusable piece of code.
# Functions defined once, can be used again and again in the same code.
# This increases code readibility and code managebility.
# Syntax to create functions : def <function name> (< Paramters>) 
def greet():
    print ("Hello")
greet() # Syntax to call the function
greet()
greet()

Hello
Hello
Hello

## Functions and parameters

In [55]:
# Functions can also accept some aguments(just like we saw in pre defined functions above)
# We must specify what arguments the function will tke at the time of defining a function

def greet2(name):
    print(f"Hello {name}")
greet2("Ansh")
greet2("Vivek")
greet2("Khushi")

# Paramters v/s arguments:
# Paramters are the values accepted by the function inside the function definition
# Arguments are the values passed to function while calling it.

# We can also specify default values of parameters in python. This helps to tackle the case when no argument is passed.
print("--------------------------------------------------\n")
def greet3(name="Rahul"):
    print(f"Welocme {name}")
greet3("Ansh")
greet3()

Hello Ansh
Hello Vivek
Hello Khushi
--------------------------------------------------

Welocme Ansh
Welocme Rahul

In [56]:
# A function can also return values using 'return' statement. When return statement is reached, the function ends.
def add_num(a=0 , b=0):
    return a+b
result = add_num(9,11) # a+b is stored in 'result' variable
print(result)

20

In [57]:
# In python when we define multiple paramters in a function , and assign them default values,
# we must take care that the assignment of default values take place from right to left. Else it will throw error.

def addition(a , b , c=0 , d=0 , e=0):
    return(a+b+c+d+e)
res = addition(1,2,3,4,5)
print(res)
# this will execute properly

15

In [58]:
# But this statement will throw an error 
def addition(a=0, b=0 , c=0 , d , e):
    return(a+b+c+d+e)
res = addition(1,2,3,4,5)
print(res)

SyntaxError: non-default argument follows default argument (4179668280.py, line 2)

## Varibale scoping

In [59]:
# Scope of a variable is defined as the block of code in which it is defined and can be accessed.
age = 8
def test(age):
    age=age+1
    print(f"Age inside the function is {age}")
print(f"Age before calling function is {age}")
test(age)
print(f"Age after calling function is {age}")

# You can see that outside the function the value of age remains same this is because :
# outside function body , the variable declared (with value 8) is accessed.
# The variable 'age' declared outside the function is an example of 'global variable'

Age before calling function is 8
Age inside the function is 9
Age after calling function is 8

In [60]:
def test2():
    age2 = 8;
    print(age2)
print(age2)

# The above program will throw an error because the 'age' is defined inside the function body and
# outside the function , it can not be acccessed
# it is an example of 'local variable'

NameError: name 'age2' is not defined

## Nested functions

In [61]:
def parent_function():
    print("Hello")
    def child_function():
        print("World")
parent_function()

# What will be the output? Try to guess it with out seeing the actual output.
# This question is a tricky question and most begginers give incorrect answer to this.
# The answer to this question will : 'Hello' , only.
# This is because the child_function is only defined inside parent_function but not called anywhere.

Hello

## Lambda functions

In [11]:
# In python there is a feature called 'lambda'.
# It allows us to create functions a simpler way. But these functions must have a single expression as body.

multiply = lambda a,b : a*b
print(multiply(7,8))

#Syntax : <variable name> = lambda <parameters> : <exprssion to be returned>

56

# Objects in python

In [62]:
# 1. Int objects
age = 19
print(age.real)
print(age.imag)
print(age.bit_length())

print("\n----------------------------------------------\n")
# 2. List objects
item = [1,2]
item.append(3)
print(item)
item.pop()
print(item)
print(id(item)) # Gives location in memory

19
0
5

----------------------------------------------

[1, 2, 3]
[1, 2]
2041813617792

# Classes

In [ ]:
# Python is an object oriented programming
# A Class is like an object constructor, or a "blueprint" for creating objects.
# An object represents real life objects that have their own features and behaviours.
# We can create a class by using a keyword 'class' and later an object of the same class.
# Assume 'student' as a class with 'name' , 'roll no' , 'section' etc as its attributes.
# Now lets implement the same model as mentioned above.

In [10]:
class Student:
    def __init__(self , name , course , branch , rollN):
        self.name = name
        self.course = course
        self.branch = branch
        self.roll_number = rollN
        self.gender=""
        self.favourite_language = ""
        self.hobby = ""
        print(f"Welcome to the college {self.name}, your course is {self.course} with {self.branch} branch , your roll number is {self.roll_number}")

print(type(Student))        
new_student = Student("Ansh" , "Btech" ,"AIML" , 1234567)
print(type(new_student))        
# In this way a class is created along with object of the same class.
# We can also write code to input empty values like gender from the user and update it.
# We will be diving deeper into this topic while studying 'OOPS'.

<class 'type'>
Welcome to the college Ansh, your course is Btech with AIML branch , your roll number is 1234567
<class '__main__.Student'>

# Decorators in python

In [15]:
# Decorators allows us to modify the behaviour of function or class.
# Decorators allow us to wrap another function in order to extend the behaviour of the wrapped function,#
# without permanently modifying it.

# Decorators are used for logging functionality , test performance , verifing credentials etc.

# Basic example of decorators:

def logtime(func):
    def wrapper():
        # code to be executed before main function
        print("Before")
        val=func()
        # Code to be executed after main function
        print("After")
        return val
    return wrapper

@logtime
def hello():
    print("Hello")

hello()

# This is just a gist of the concept, it a advanced concept so we will be studying them later.

Before
Hello
After

# Docstrings

In [19]:
# There will be many instances where we may write a complex code at first but later when we visit the code 
# again after some months, we may forget what line does what. This where docstrings are helpful.
# docstrings are like comments written for the program but they are more like a guide/manual.
# Docstrings are initialised using triple single/double inverted commas.
# Eg : Below is an example of docstrings written for a code which is declaring a class.


class Dog:
    """
    Module 1 ......lorem ipsum doler (details about the program)
    The program has the following classes:
    -Dog
    """
    """This is class which represensts a dog."""
    def __init__(self, name , age):
        """Initializes a new dog object"""
        self.name = name
        self.age = age
    def bark():
        """This commands the dog to bark"""
        print("WOOOF")
        
# Now if we want to know what this code does , we can simply type the below command:
print(help(Dog)) # Gives the details of the class using doc strings

Help on class Dog in module __main__:

class Dog(builtins.object)
 |  Dog(name, age)
 |
 |  Module 1 ......lorem ipsum doler (details about the program)
 |  The program has the following classes:
 |  -Dog
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age)
 |      Initializes a new dog object
 |
 |  bark()
 |      This commands the dog to bark
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

# Handling Exceptions in Python

In [20]:
# There might be some scenarios where the code we write may throw an error and interupts the program.
# Therefore we must know how to handle such situations in python. We can do this by try and except block.
# Example : below is code which handles an error when a number is divided by zero.
try:
    result = 2/0
except ZeroDivisionError :             # We have to write error name after 'except' keyword. 
    print("Cannot divide by zero")
finally:                               # Will execute at last everytime if error is there not not.
    result=0
print(result)

# We can also add an else block before finally depending on our use case.

Cannot divide by zero
0

In [23]:
# We can also raise our own exceptions using 'raise' keyword and then handle it. EG :
try:
    raise Exception("An error occured")
except Exception as error:
    print(error)
    
print("\n----------------------------------------------------\n")

#Ex 2:
class DogNotFoundException(Exception):
    print("Write any code depending on usage here or skip it.")
    pass 
try:
    raise DogNotFoundException()
except DogNotFoundException:
    print("No Dog found")

An error occured

----------------------------------------------------

Write any code depending on usage here or skip it.
No Dog found

# List Compression

In [24]:
numbers = [1,2,3,4,5,6,7,8]
numbers_power_2 = [n**2 for n in numbers]  # Syntax : [<Operation we need to perform>]
print(numbers_power_2)

# It makes our code short and more readable.

[1, 4, 9, 16, 25, 36, 49, 64]