# Intermediate Python

## Lists

In [2]:
# A list is a collection of elements. It is a hetrogeneous collection i.e it can contain different data types.
# In python, lists are initialised in square '[]' brackets.
# Unlike strings, python lists are mutable that is their value can be updated at any point.
# Lists in python have 0 indexing which means that the first element is accesed using '0' index, second using '1' index and so on.
# In general we can say that 'nth' element of a list can be accessed using 'n-1' index.

# Creating a list with elements in it:
mylist = ["Apple" , 1 , 102 , True , "Mango"]
print(mylist)

# Creating an empty list so that we can add items later
mylist2 = list()
print(mylist2)

# Creating empty list way 2:
mylist3=[]
print(mylist3)

['Apple', 1, 102, True, 'Mango']
[]
[]

### Accessing elements

In [4]:
# We can accessing a particular element in a list or a part of list (slicing).
list_indexing = [1,"ansh" , True , "malik" , False , 29 , 93 , "abc"]
print(list_indexing[1])
print(list_indexing[5])

# Slicing works in same way as in strings
print(list_indexing[:5])
print(list_indexing[5:])
print(list_indexing[::2])

ansh
29
[1, 'ansh', True, 'malik', False]
[29, 93, 'abc']
[1, True, False, 93]

In [8]:
# We can also use for in loop to access elements in a list.
for i in list_indexing:
    print(i , end=" ")
    
print("\n------------------------------------")

for i in range(len(list_indexing)):
    print(list_indexing[i], end=" ")

1 ansh True malik False 29 93 abc
------------------------------------
1 ansh True malik False 29 93 abc

### Checking presence of an element in a list

In [14]:
# we can check if an element is present in a list or not using 'in'
if "ansh" in list_indexing:
    print("Present")
else: print("Not present")
    
print("\n------------------------\n")

if "xyz" in list_indexing:
    print("Present")
else: print("Not present")

Present

------------------------

Not present

### List operations

In [35]:
list_operations = ["ansh", True , 302 , 120 , "malik" , True , "xyz" , False , 129 ]

# 1. Append : Adds an element to the end of the list |  Syntax : <list name>.append(<value>)
list_operations.append('A')
print(list_operations)


print("\n----------------------\n")


# 2. Insert : Adds an element to the specfied position | Syntax : <list name>.insert(<index>,<value>)
list_operations.insert(0,'B')  # Adds 'B' to 0 index
print(list_operations)

list_operations.insert(4,'C')
print(list_operations)


print("\n----------------------\n")


# 3. POP : Removes last element from the list and returns it | Sytax: <list name>.pop()
popped = list_operations.pop() # Can also take index as a parameter and remove the element at that particular index
print(popped)
print(list_operations)


print("\n----------------------\n")


# 4. Remove : Removes a specific element from the list. | Syntax : <list name>.remove(<value>)
list_operations.remove("xyz")
print(list_operations)  # If we try to remove an element which is  not in list, we get value error


print("\n----------------------\n")


# 5. Reverse : Reverses a list | Syntax : <list name>.reverse()
list_operations.reverse()
print(list_operations)


print("\n----------------------\n")


# 6. Copy : Creates a copy of a list | Syntax : <list name>.copy()
copy = list_operations.copy()  # A new memory block will be created and 'copy' will refer to this new memory location
print(copy)


print("\n----------------------\n")


# 7. Clear : Deletes all the elements present in the list | Syntax : <list name>.clear()
copy.clear()
print(copy)


print("\n----------------------\n")


# 8. Del : Deletes a specific element in a list | Syntax : del <list name>[<index>]
del list_operations[6] # Deletes '302'
print(list_operations)


print("\n----------------------\n")

['ansh', True, 302, 120, 'malik', True, 'xyz', False, 129, 'A']

----------------------

['B', 'ansh', True, 302, 120, 'malik', True, 'xyz', False, 129, 'A']
['B', 'ansh', True, 302, 'C', 120, 'malik', True, 'xyz', False, 129, 'A']

----------------------

A
['B', 'ansh', True, 302, 'C', 120, 'malik', True, 'xyz', False, 129]

----------------------

['B', 'ansh', True, 302, 'C', 120, 'malik', True, False, 129]

----------------------

[129, False, True, 'malik', 120, 'C', 302, True, 'ansh', 'B']

----------------------

[129, False, True, 'malik', 120, 'C', 302, True, 'ansh', 'B']

----------------------

[]

----------------------

[129, False, True, 'malik', 120, 'C', True, 'ansh', 'B']

----------------------

In [36]:
list1 = ['ansh' , 123 , True , 'malik' , 'abc' , 1423 , 'xyz']
# 9. Updation
list1[2] = False
print(list1)
# Notice how esily we can update the values unlike in string. Therefore we can conclude that lists are 'mutable data types'.

# 10. Comparing two lists.
compare_list1 = [1,2,3,5,6]
compare_list2 = [1,[2,4,5],9]
print(compare_list1==compare_list2)
#Note : For comparison operators like '<','>,'==' etc, the corresponding elements of the two lists must be of comparable types, else error will occur.

['ansh', 123, False, 'malik', 'abc', 1423, 'xyz']
False

In [37]:
# We can find maximum and minimum elements in a list without for loops by using 'max' and 'min' functions
list1 =[12,134,90,76,987,34,1,34,765,32]
print(f"Maximum number in the list is {max(list1)}")
print(f"Minimum number in the list is {min(list1)}")

Maximum number in the list is 987
Minimum number in the list is 1

In [38]:
# Sorting lists in python only works in homogeneous list ie. the list must contain only numbers or only strings.
# in case of numbers, sorting is done normally while in case of strings, sorting is done on the basis of ASCII code.

str_list = ["python" , "cpp" , "ruby", "R" , "java" , "JavaScript"]
str_list.sort()
print(str_list) # Due to sorting based on ASCII codes, words starting with capital letters comes first. We can fix this by:-

str_list.sort(key=str.lower) # problem solved
print(str_list)

# Sorting in reverse order: There is a paramter in sort function called 'reverse' we can use this to sort in descending order
num_list=[1,43,10,87,98,2,43]
num_list.sort()
print(num_list)

num_list.sort(reverse=True)
print(num_list)

# Note : The sort function uses 'TIM SORT' which is a combination of merge sort and insertion sort
# sorting changes the original list, therefore we must keep it in mind while using the function and create a copy of original list is required.

['JavaScript', 'R', 'cpp', 'java', 'python', 'ruby']
['cpp', 'java', 'JavaScript', 'python', 'R', 'ruby']
[1, 2, 10, 43, 43, 87, 98]
[98, 87, 43, 43, 10, 2, 1]

In [41]:
# Misc
l1 = [1]*10
print(l1)

l2 = [1,2]*3
print(l2)

new_list = l1+l2
print(new_list)


a = [1,2,3,4,5,6,7,8]
b=[i*i for i in a]
print(b)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2]
[1, 4, 9, 16, 25, 36, 49, 64]

## Tuples

In [ ]:
# Tuples are a data type in python. They are ordered , immutable and allows duplicatess. 
# In python, tuple are initialised using '( )' brackets.

### Initialising a tuple

In [6]:
tuple1 = ("ansh",1,1.21,3.14 , True , "malik")
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('ansh', 1, 1.21, 3.14, True, 'malik')

In [10]:
myList = [1,2,3,4,False,'a',"xyz",1.212]
tuple2 = tuple(myList)
print(tuple2)

(1, 2, 3, 4, False, 'a', 'xyz', 1.212)

In [3]:
# Note -> If we have only one element in a tuple, the type of that variable will be the same as that of the element.
tuple1=("Max")
print(type(tuple1))

<class 'str'>

In [9]:
tuple1 = (1.21)
print(type(tuple1))

# To fix this issue, we use a ',' at the end of the element.

tuple1=(1.21,)
print(type(tuple1))

<class 'float'>
<class 'tuple'>

### Accessing elements of a tuple

In [21]:
# We can access elements of a tuple the same way as we do in list.

#1. Loops:
for i in tuple2:
    print(i , end=" ")
    
print('\n-----------------------------------\n')

#2. Slicing
print(tuple2[:])
print(tuple2[0:2])
print(tuple2[4:7])
print(tuple2[2:8:2])
print(tuple2[-4:-1])

print('\n-----------------------------------\n')

#3. Indexing
print(tuple2[2])
print(tuple2[-1])

1 2 3 4 False a xyz 1.212
-----------------------------------

(1, 2, 3, 4, False, 'a', 'xyz', 1.212)
(1, 2)
(False, 'a', 'xyz')
(3, False, 'xyz')
(False, 'a', 'xyz')

-----------------------------------

3
1.212

### Tuples are immutable

In [22]:
tuple2[2]="abc"

# The above code will cause an error because tuples are immutable and hence doesn't support item assignment

TypeError: 'tuple' object does not support item assignment

### Operations / Fucntions of tuples

In [23]:
#1. len : gives length of the tuple
print(len(tuple2))

8

In [28]:
#2. count : count the occurences of an element in a given tuple
print(tuple2.count(False))  
print(tuple2.count(True))  # It displays 1 as output because in every none empty tuple, the function returns 1 if True is passec
print(tuple2.count('xyz'))
print(tuple2.count("qweq"))

1
1
1
0

In [31]:
#3. index : returns first occuring of an element
print(tuple2.index('a'))
print(tuple2.index(False))
print(tuple2.index(True))  # Will return 0 if it is not present.
print(tuple2.index('c'))  # Will throw an error because the element is not present in the tuple

5
4
0

ValueError: tuple.index(x): x not in tuple

In [34]:
#4 . 
myTuple = "ansh" , 19 , "Delhi"
name , age , city = myTuple  # The no of variables must be equal to the number of elements of the tuple
print(name)
print(city)
print(age)
print(myTuple)

ansh
Delhi
19
('ansh', 19, 'Delhi')

In [39]:
#5.
my_tuple = 1,2,3,4,5,6,7,8,9
i1 , *i2 , i3 , i4 = my_tuple
print(i1)  # First element
print(i3)  # Second last element
print(i4)  # Last element
print(i2)  # remaining elements

# Note we can not have more than 1 'starred' variable
# Eg: i1 , *i2 , i3 , i4 , *i5 , i6 = my_tuple is invalid

1
8
9
[2, 3, 4, 5, 6, 7]

### Lists v/s Tuples

In [45]:
# Tuples are more memory effecient than lists.
import sys
t1 = (1,2,3,"ansh","malik",True , 'a' , 3.14)
l1 = [1,2,3,"ansh","malik",True , 'a' , 3.14]

print(sys.getsizeof(t1),"bytes")
print(sys.getsizeof(l1),"bytes")
# Notice how list takes more space than tuples.

# Tuples are more time effecient too..
import timeit
print(timeit.timeit(stmt="(1,2,3,'ansh','malik',True , 'a' , 3.14)",number=10000))
print(timeit.timeit(stmt="[1,2,3,'ansh','malik',True , 'a' , 3.14]",number=10000))
# Notice how list takes more time than tuples.

# But we also know that lists are mutable and tuples are not. Therefore we must chose between the two depending on the use case.

104 bytes
120 bytes
0.00015249999705702066
0.0009120000177063048

## Dictionaries

In [46]:
# Dictionaries are data types in python which stores data in a 'key-value' pair. Dictionaries are ordered and mutable.
# Syntax for initialising a dictionary : {<key>:<value>}

### Initialisation

In [50]:
dict1 = {"firstName":"ansh" , "lastName":"malik" , "age":19 , "branch":"AIML" }
print(dict1)

{'firstName': 'ansh', 'lastName': 'malik', 'age': 19, 'branch': 'AIML'}

In [68]:
dict2 = dict(name="ansh",age=19,branch="AIML")
print(dict2)

{'name': 'ansh', 'age': 19, 'branch': 'AIML'}

### Accessing elements

In [54]:
print(dict1["firstName"])
print(dict1["lastName"])
print(dict1["age"])
print(dict1["branch"])

# Syntax : <variable name>[<key>]

ansh
malik
19
AIML

In [73]:
for key in dict1:
    print(key)

firstName
lastName
age
branch

In [75]:
for value in dict1.values():
    print(value)

ansh
malik
19
AIML

In [77]:
for key , value in dict1.items():
    print(f'KEY -> {key} , VALUE -> {value}')

KEY -> firstName , VALUE -> ansh
KEY -> lastName , VALUE -> malik
KEY -> age , VALUE -> 19
KEY -> branch , VALUE -> AIML

### Dictionaries are mutable

In [55]:
dict1["email"]= "anshmalik.example@gmail.com"  # New key is created. If the key is already present, its value gets overwritten
print(dict1)

{'firstName': 'ansh', 'lastName': 'malik', 'age': 19, 'branch': 'AIML', 'email': 'anshmalik.example@gmail.com'}

### Operations and functions

In [56]:
#1. del : deletes a key
del dict1["email"]
print(dict1)

{'firstName': 'ansh', 'lastName': 'malik', 'age': 19, 'branch': 'AIML'}

In [72]:
dict2 = dict(name="ansh",age=19,branch="AIML")
#2. pop: removes a pair and returns its value , takes one argument
val = dict2.pop("name")
print(val)

#3. popitem : removes last entered element
dict2.popitem()

ansh

('branch', 'AIML')

In [78]:
dict2 = dict(name="ansh",age=19,branch="AIML")
dict_cpy = dict2

# This will create a reference variable not the copy and any change made to copy will also relfect in main dictionary
dict_cpy["email"] = "xyz@gmail.com"
print(dict_cpy)
print(dict2)

{'name': 'ansh', 'age': 19, 'branch': 'AIML', 'email': 'xyz@gmail.com'}
{'name': 'ansh', 'age': 19, 'branch': 'AIML', 'email': 'xyz@gmail.com'}

In [79]:
# To create actual copy we do:
dict_copy = dict2.copy()
dict_copy["email"] = "abc@gmail.com"
print(dict_copy)
print(dict2)

{'name': 'ansh', 'age': 19, 'branch': 'AIML', 'email': 'abc@gmail.com'}
{'name': 'ansh', 'age': 19, 'branch': 'AIML', 'email': 'xyz@gmail.com'}

In [82]:
# We can also update a dictionary using another dictionary
d1 = {"firstName":"ansh" , "lastName":"malik" , "age":19 , "branch":"AIML" }
d2 = {"email":"abc@gmail.com" , "college":"MAIT"}
d1.update(d2)
print(d1)

{'firstName': 'ansh', 'lastName': 'malik', 'age': 19, 'branch': 'AIML', 'email': 'abc@gmail.com', 'college': 'MAIT'}

## Sets

In [83]:
# In python, sets are unordered and mutabledata types and they do not allow any duplicates.
# Python sets are initialised using '{}' brackets, same as dicitonary but we do not put any key value pairs.

In [7]:
set1 = {1,2,3,4}
print(set1)

set2 = {1,2,3,2,1}   #duplicate values will not be printed
print(set2)

{1, 2, 3, 4}
{1, 2, 3}

In [8]:
# We can add elements to the set by using 'add' function
set1.add(10)
set1.add(10)
set1.add(21)
set1.add(54)
set1.add(23)
print(set1)

{1, 2, 3, 4, 10, 21, 54, 23}

In [9]:
# We can delete elements in a set using 2 different methods:

# 1. 'remove' function
set1.remove(3)
print(set1)

# Note: If we pass a value that is not present in the set, it will throw an error
set1.remove(101)

{1, 2, 4, 10, 21, 54, 23}

KeyError: 101

In [11]:
# 2.  'discard' method:
set2.discard(2)
print(set2)

# Note: If we pass an element that is not in the set, it will not throw an error and will not change set.
set2.discard(-1)
print(set2)  # No error

{1, 3}
{1, 3}

In [12]:
# We can empty our set by using 'clear' method
set2.clear()
print(set2)

set()

In [13]:
# 'pop' function : It returns and arbitrary value(because set is unordered) and deletes it from the set.
set1.pop()

1

In [14]:
print(set1)   # '1' is deleted

{2, 4, 10, 21, 54, 23}

In [20]:
odd={1,3,5,7,9,11}
even = {0,2,4,6,8,10}
prime={1,2,3,5,7,11}

set_union = odd.union(even) #prints all the elements in both the sets with duplicated values removed.
print(set_union,'\n')  

set_intersection = odd.intersection(prime)  #prints the elements which are common to both the sets.
print(set_intersection,'\n')

set_difference = odd.difference(prime)  #prints elements of first set which are not in second set.
print(set_difference,'\n')

set_sDifference = even.symmetric_difference(prime)   #Prints all the elements except the ones which are common in both
print(set_sDifference)

'''
other methods:
1.update
2.intetsection_update
3.difference_update
4.issubset
5.issuperset
6.isdisjoint
'''

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

{1, 3, 5, 7, 11}

{9}

{0, 1, 3, 4, 5, 6, 7, 8, 10, 11}